@import "tailwindcss";

@font-face {
  font-family: 'kalam';
  src: url('../public/fonts/Kalam-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: norma;
}

@font-face {
  font-family: 'kalam';
  src: url('../public/fonts/Kalam-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: norma; 
}
@font-face {
  font-family: 'kalam';
  src: url('../public/fonts/Kalam-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: norma; 
}